<!-- 下拉選單 檔案 -->
<div class="menu" data-menu="none" active="">
    <div class="menu-content" id="menu-file">

        <div class="menu-box js-openFileBox">
            <div class="menu-hor-item js-openFile">
                <div class="menu-hor-icon"></div>
                <div class="menu-hor-txt" i18n="menu.openFile">載入檔案</div>
            </div>
        </div>

        <div class="menu-box">

            <div class="menu-hor-item js-openNewWindow">
                <div class="menu-hor-icon"></div>
                <div class="menu-hor-txt" i18n="menu.openNewWindow">另開視窗</div>
            </div>
            <div class="menu-hor-hr"></div>

            <div class="menu-hor-item js-revealInFileExplorer">
                <div class="menu-hor-icon"></div>
                <div class="menu-hor-txt" i18n="menu.revealInFileExplorer">在檔案總管中顯示</div>
            </div>
            <div class="menu-hor-item js-systemContextMenu">
                <div class="menu-hor-icon"></div>
                <div class="menu-hor-txt" i18n="menu.systemContextMenu">檔案右鍵選單</div>
            </div>
            <div class="menu-hor-item js-renameFile" show-not="bulkView,">
                <div class="menu-hor-icon"></div>
                <div class="menu-hor-txt" i18n="menu.renameFile">重新命名檔案</div>
            </div>
            <div class="menu-hor-item js-renameDir" show-only="bulkView,">
                <div class="menu-hor-icon"></div>
                <div class="menu-hor-txt" i18n="menu.renameDir">重新命名資料夾</div>
            </div>

            <div class="menu-hor-hr" show-not="bulkView,"></div>

            <div class="menu-hor-item js-print" show-not="bulkView,">
                <div class="menu-hor-icon"></div>
                <div class="menu-hor-txt" i18n="menu.print">列印</div>
            </div>
            <div class="menu-hor-item js-setAsDesktop" show-only="img,">
                <div class="menu-hor-icon"></div>
                <div class="menu-hor-txt" i18n="menu.setAsDesktop">設成桌布</div>
            </div>

        </div>

        <div class="menu-box" show-not="bulkView,">
            <div class="menu-hor-item js-openWith">
                <div class="menu-hor-icon">
                </div>
                <div class="menu-hor-txt" i18n="menu.openWith">用其他程式開啟</div>
            </div>

            <!-- <div class="menu-hor-item" id="menuitem-open3DMSPaint">
                <div class="menu-hor-icon">
                    <img src="./img/icon-Paint3D.png">
                </div>
                <div class="menu-hor-txt">3D MS Paint</div>
            </div> -->

            <div id="menu-otherAppOpen">
                <!-- js產生 -->
            </div>

        </div>

    </div>
</div>


<!-- 下拉選單 複製  -->
<div class="menu" data-menu="none" active="">
    <div class="menu-content" id="menu-copy">
        <div class="menu-box">
            <div class="menu-hor-item js-copyFile" show-not="bulkView,">
                <div class="menu-hor-icon"> </div>
                <div class="menu-hor-txt" i18n="menu.copyFile">複製檔案</div>
            </div>
            <div class="menu-hor-item js-copyFileName" show-not="bulkView,">
                <div class="menu-hor-icon"> </div>
                <div class="menu-hor-txt" i18n="menu.copyFileName">複製檔名</div>
            </div>
            <div class="menu-hor-item js-copyFilePath" show-not="bulkView,">
                <div class="menu-hor-icon"> </div>
                <div class="menu-hor-txt" i18n="menu.copyFilePath">複製檔案路徑</div>
            </div>

            <div class="menu-hor-item js-copyDirName" show-only="bulkView,">
                <div class="menu-hor-icon"> </div>
                <div class="menu-hor-txt" i18n="menu.copyDirName">複製資料夾名</div>
            </div>
            <div class="menu-hor-item js-copyDirPath" show-only="bulkView,">
                <div class="menu-hor-icon"> </div>
                <div class="menu-hor-txt" i18n="menu.copyDirPath">複製資料夾路徑</div>
            </div>

            <div class="menu-hor-hr" show-not="bulkView,pdf,office,"></div>

            <div class="menu-hor-item js-copyImage" show-only="img,imgs,video,">
                <div class="menu-hor-icon"> </div>
                <div class="menu-hor-txt" i18n="menu.copyImage">複製影像</div>
            </div>
            <div class="menu-hor-item js-copyImageBase64" show-only="img,imgs,video,">
                <div class="menu-hor-icon"> </div>
                <div class="menu-hor-txt" i18n="menu.copyImageBase64">複製影像 Base64</div>
            </div>
            <div class="menu-hor-item js-copyBase64" show-only="txt,monacoEditor,md,">
                <div class="menu-hor-icon"> </div>
                <div class="menu-hor-txt" i18n="menu.copyBase64">複製 Base64</div>
            </div>
            <div class="menu-hor-item js-copyText" show-not="bulkView,pdf,office,">
                <div class="menu-hor-icon"> </div>
                <div class="menu-hor-txt" i18n="menu.copyText">複製文字</div>
            </div>
        </div>

    </div>
</div>


<!-- 下拉選單 旋轉  -->
<div class="menu" data-menu="none" active="">
    <div class="menu-content" id="menu-rotate">
        <div class="menu-box">
            <div class="menu-hor-item" id="menuitem-img-rotateCw">
                <div class="menu-hor-icon">
                    <%- await readFile("./img/default/tool-rotateCw.svg"); %>
                </div>
                <div class="menu-hor-txt" i18n="menu.rotateCw">順時針90°</div>
            </div>
            <div class="menu-hor-item" id="menuitem-img-rotateCcw">
                <div class="menu-hor-icon">
                    <%- await readFile("./img/default/tool-rotateCcw.svg"); %>
                </div>
                <div class="menu-hor-txt" i18n="menu.rotateCcw">逆時針90°</div>
            </div>

            <div class="menu-hor-hr"></div>

            <div class="menu-hor-item" id="menuitem-img-mirroringH">
                <div class="menu-hor-icon">
                    <%- await readFile("./img/default/tool-mirroringH.svg"); %>
                </div>
                <div class="menu-hor-txt" i18n="menu.flipHorizontal">水平鏡像</div>
            </div>
            <div class="menu-hor-item" id="menuitem-img-mirroringV">
                <div class="menu-hor-icon">
                    <%- await readFile("./img/default/tool-mirroringV.svg"); %>
                </div>
                <div class="menu-hor-txt" i18n="menu.flipVertical">垂直鏡像</div>
            </div>

            <div class="menu-hor-hr"></div>

            <div class="menu-hor-item" id="menuitem-img-initRotate">
                <div class="menu-hor-icon">
                    <%- await readFile("./img/default/tool-initRotate.svg"); %>
                </div>
                <div class="menu-hor-txt" i18n="menu.initialRotation">初始化旋轉</div>
            </div>
        </div>

    </div>
</div>


<!-- 下拉選單 排序  -->
<div class="menu" data-menu="none" active="">
    <div class="menu-content" id="menu-sort">
        <div class="menu-box">

            <div class="menu-hor-title" i18n="menu.fileSortBy"> 檔案排序方式 </div>
            <div class="menu-hor-hr"></div>

            <div class="menu-hor-item" id="menuitem-fileSort-name">
                <div class="menu-hor-icon">
                    <%- await readFile("./img/default/yes.svg"); %>
                </div>
                <div class="menu-hor-txt" i18n="menu.name">檔名</div>
            </div>
            <div class="menu-hor-item" id="menuitem-fileSort-lastWriteTime">
                <div class="menu-hor-icon"></div>
                <div class="menu-hor-txt" i18n="menu.lastWriteTime">修改日期</div>
            </div>
            <div class="menu-hor-item" id="menuitem-fileSort-lastAccessTime">
                <div class="menu-hor-icon"></div>
                <div class="menu-hor-txt" i18n="menu.lastAccessTime">存取日期</div>
            </div>
            <div class="menu-hor-item" id="menuitem-fileSort-creationTime">
                <div class="menu-hor-icon"></div>
                <div class="menu-hor-txt" i18n="menu.creationTime">建立日期</div>
            </div>
            <div class="menu-hor-item" id="menuitem-fileSort-length">
                <div class="menu-hor-icon"></div>
                <div class="menu-hor-txt" i18n="menu.length">檔案大小</div>
            </div>
            <div class="menu-hor-item" id="menuitem-fileSort-random">
                <div class="menu-hor-icon"></div>
                <div class="menu-hor-txt" i18n="menu.random">隨機</div>
            </div>

            <div class="menu-hor-hr"></div>
            <div class="menu-hor-item" id="menuitem-fileSort-asc">
                <div class="menu-hor-icon"></div>
                <div class="menu-hor-txt" i18n="menu.asc">遞增</div>
            </div>
            <div class="menu-hor-item" id="menuitem-fileSort-desc">
                <div class="menu-hor-icon"></div>
                <div class="menu-hor-txt" i18n="menu.desc">遞減</div>
            </div>

        </div>

        <div class="menu-box">

            <div class="menu-hor-title" i18n="menu.directorySortBy"> 資料夾排序方式 </div>
            <div class="menu-hor-hr"></div>

            <div class="menu-hor-item" id="menuitem-dirSort-name">
                <div class="menu-hor-icon"></div>
                <div class="menu-hor-txt" i18n="menu.name">檔名</div>
            </div>
            <div class="menu-hor-item" id="menuitem-dirSort-lastWriteTime">
                <div class="menu-hor-icon"></div>
                <div class="menu-hor-txt" i18n="menu.lastWriteTime">修改日期</div>
            </div>
            <div class="menu-hor-item" id="menuitem-dirSort-lastAccessTime">
                <div class="menu-hor-icon"></div>
                <div class="menu-hor-txt" i18n="menu.lastAccessTime">存取日期</div>
            </div>
            <div class="menu-hor-item" id="menuitem-dirSort-creationTime">
                <div class="menu-hor-icon"></div>
                <div class="menu-hor-txt" i18n="menu.creationTime">建立日期</div>
            </div>
            <div class="menu-hor-item" id="menuitem-dirSort-random">
                <div class="menu-hor-icon"></div>
                <div class="menu-hor-txt" i18n="menu.random">隨機</div>
            </div>

            <div class="menu-hor-hr"></div>
            <div class="menu-hor-item" id="menuitem-dirSort-asc">
                <div class="menu-hor-icon"></div>
                <div class="menu-hor-txt" i18n="menu.asc">遞增</div>
            </div>
            <div class="menu-hor-item" id="menuitem-dirSort-desc">
                <div class="menu-hor-icon"></div>
                <div class="menu-hor-txt" i18n="menu.desc">遞減</div>
            </div>

        </div>

    </div>
</div>


<!-- 下拉選單 layout  -->
<div class="menu" data-menu="none" active="">
    <div class="menu-content" id="menu-layout">
        <div class="menu-box">

            <div class="menu-hor-item js-topmost">
                <div class="menu-hor-icon"> </div>
                <div class="menu-hor-txt" i18n="menu.topmost">視窗固定最上層</div>
            </div>

            <div class="menu-hor-hr"></div>

            <div class="menu-hor-item js-fullScreen">
                <div class="menu-hor-icon"> </div>
                <div class="menu-hor-txt" i18n="menu.fullScreen">全螢幕</div>
            </div>

            <div class="menu-hor-hr"></div>

            <div class="menu-hor-item js-mainToolbar">
                <div class="menu-hor-icon"> </div>
                <div class="menu-hor-txt" i18n="menu.showToolbar">顯示工具列</div>
            </div>
            <div class="menu-hor-item js-mainDirList">
                <div class="menu-hor-icon"></div>
                <div class="menu-hor-txt" i18n="menu.showDirectoryPanel">顯示資料夾預覽視窗</div>
            </div>
            <div class="menu-hor-item js-mainFileList">
                <div class="menu-hor-icon"></div>
                <div class="menu-hor-txt" i18n="menu.showFilePanel">顯示檔案預覽視窗</div>
            </div>
            <div class="menu-hor-item js-mainExif">
                <div class="menu-hor-icon"></div>
                <div class="menu-hor-txt" i18n="menu.showInformationPanel">顯示詳細資料視窗</div>
            </div>
        </div>

    </div>
</div>


<!-- 下拉選單 搜圖 -->
<div class="menu" data-menu="none" active="">
    <div class="menu-content" id="menu-imgSearch">
        <div class="menu-box" id="menu-imgSearch-list">
            <!-- js產生 -->
        </div>
    </div>
</div>


<!-- 下拉選單 大量瀏覽模式 -->
<div class="menu" data-menu="none" active="">
    <div class="menu-content" id="menu-bulkView">
        <div class="menu-box">

            <div class="menu-bulkView-box">
                <div class="menu-bulkView-title" i18n="bulkView.columns">每行圖片數</div>
                <div class="menu-bulkView-columns js-columns">
                    <div class="menu-bulkView-columns-item" value="1" active="true">1</div>
                    <div class="menu-bulkView-columns-item" value="2">2</div>
                    <div class="menu-bulkView-columns-item" value="3">3</div>
                    <div class="menu-bulkView-columns-item" value="4">4</div>
                    <div class="menu-bulkView-columns-item" value="5">5</div>
                    <div class="menu-bulkView-columns-item" value="6">6</div>
                    <div class="menu-bulkView-columns-item" value="7">7</div>
                    <div class="menu-bulkView-columns-item" value="8">8</div>
                </div>
            </div>

            <div class="menu-bulkView-box js-box-waterfall">
                <div class="menu-bulkView-title" i18n="bulkView.waterfall">瀑布流</div>
                <select class="menu-bulkView-select js-waterfall">
                    <option value="off" i18n="bulkView.disable">關閉</option>
                    <option value="vertical" i18n="bulkView.vertical">垂直</option>
                    <option value="horizontal" i18n="bulkView.horizontal">水平</option>
                </select>
            </div>

            <div class="menu-bulkView-box js-box-gaplessMode">
                <div class="menu-bulkView-title" i18n="bulkView.gaplessMode">無間距模式</div>
                <select class="menu-bulkView-select js-gaplessMode">
                    <option value="off" i18n="bulkView.disable">關閉</option>
                    <option value="0">0</option>
                    <option value="20">20</option>
                    <option value="40">40</option>
                    <option value="60">60</option>
                </select>
            </div>

            <div class="menu-bulkView-box js-box-fixedWidth">
                <div class="menu-bulkView-title" i18n="bulkView.fixedWidth">鎖定寬度</div>
                <select class="menu-bulkView-select js-fixedWidth">
                    <option value="off" i18n="bulkView.disable">關閉</option>
                    <option value="40">40%</option>
                    <option value="50">50%</option>
                    <option value="60">60%</option>
                    <option value="70">70%</option>
                    <option value="80">80%</option>
                    <option value="90">90%</option>
                    <option value="100">100%</option>
                </select>
            </div>

            <div class="menu-bulkView-box js-box-align">
                <div class="menu-bulkView-title" i18n="bulkView.align">排列方向</div>
                <select class="menu-bulkView-select js-align">
                    <option value="left" i18n="bulkView.leftToRight">左至右</option>
                    <option value="right" i18n="bulkView.rightToLeft">右至左</option>
                </select>
            </div>

            <div class="menu-bulkView-box js-box-indentation">
                <div class="menu-bulkView-title" i18n="bulkView.indentation">第一張圖縮排</div>
                <select class="menu-bulkView-select js-indentation">
                    <option value="off" i18n="bulkView.disable">關閉</option>
                    <option value="on" i18n="bulkView.enable">啟用</option>
                </select>
            </div>

            <div class="menu-bulkView-box">
                <div class="menu-bulkView-title" i18n="bulkView.displayedInformation">顯示資訊</div>
                <div class="menu-bulkView-content">

                    <label class="menu-bulkView-checkbox">
                        <input type="checkbox" class="base-checkbox js-number">
                        <span i18n="bulkView.number">編號</span>
                    </label>
                    <label class="menu-bulkView-checkbox">
                        <input type="checkbox" class="base-checkbox js-fileName">
                        <span i18n="bulkView.fileName">檔案名稱</span>
                    </label>
                    <label class="menu-bulkView-checkbox">
                        <input type="checkbox" class="base-checkbox js-imageSize">
                        <span i18n="bulkView.imageSize">圖片尺寸</span>
                    </label>
                    <label class="menu-bulkView-checkbox">
                        <input type="checkbox" class="base-checkbox js-fileSize">
                        <span i18n="bulkView.fileSize">檔案大小</span>
                    </label>
                    <label class="menu-bulkView-checkbox">
                        <input type="checkbox" class="base-checkbox js-lastWriteDate">
                        <span i18n="bulkView.lastWriteDate">修改日期</span>
                    </label>
                    <label class="menu-bulkView-checkbox">
                        <input type="checkbox" class="base-checkbox js-lastWriteTime">
                        <span i18n="bulkView.lastWriteTime">修改時間</span>
                    </label>

                </div>
            </div>


        </div>
    </div>
</div>


<!-- 右鍵選單 圖片 -->
<div class="menu" data-menu="none" active="">
    <div class="menu-content" id="menu-rightMenuImage">

        <div class="menu-box" style="width:200px">
            <div class="menu-grid">
                <div class="menu-grid-item js-bulkView" title="" i18n="menu.bulkView">
                    <%- await readFile("./img/default/tool-bulkView.svg"); %>
                </div>
                <div class="menu-grid-item js-prev" title="" i18n="menu.prevFile">
                    <%- await readFile("./img/default/tool-prev.svg"); %>
                </div>
                <div class="menu-grid-item js-next" title="" i18n="menu.nextFile">
                    <%- await readFile("./img/default/tool-next.svg"); %>
                </div>
                <div class="menu-grid-item js-prevDir" title="" i18n="menu.prevDir">
                    <%- await readFile("./img/default/tool-prevDir.svg"); %>
                </div>
                <div class="menu-grid-item js-nextDir" title="" i18n="menu.nextDir">
                    <%- await readFile("./img/default/tool-nextDir.svg"); %>
                </div>
            </div>

            <div class="menu-grid">
                <div class="menu-grid-item js-dragDropFile" title="" i18n="menu.dragDropFile">
                    <%- await readFile("./img/default/tool-dragDropFile.svg"); %>
                </div>
                <div class="menu-grid-item js-showMenuFile" title="" i18n="menu.showMenuFile">
                    <%- await readFile("./img/default/tool-open.svg"); %>
                </div>
                <div class="menu-grid-item js-showMenuCopy" title="" i18n="menu.showMenuCopy">
                    <%- await readFile("./img/default/tool-copy.svg"); %>
                </div>
                <div class="menu-grid-item js-showMenuSort" title="" i18n="menu.showMenuSort">
                    <%- await readFile("./img/default/tool-sort.svg"); %>
                </div>
                <div class="menu-grid-item js-showMenuImageSearch" title="" i18n="menu.showMenuImageSearch" show-only="img,imgs,video,">
                    <%- await readFile("./img/default/tool-search.svg"); %>
                </div>
            </div>

        </div>


        <div class="menu-box">
            <div class="menu-grid" show-only="img,imgs,video,">
                <div class="menu-grid-item js-rotate" title="" i18n="menu.showMenuRotation">
                    <%- await readFile("./img/default/tool-rotate.svg"); %>
                </div>
                <div class="menu-grid-item js-zoomIn" title="" i18n="menu.zoomIn">
                    <%- await readFile("./img/default/tool-zoomIn.svg"); %>
                </div>
                <div class="menu-grid-item js-zoomOut" title="" i18n="menu.zoomOut">
                    <%- await readFile("./img/default/tool-zoomOut.svg"); %>
                </div>
                <div class="menu-grid-item js-full" title="" i18n="menu.zoomToFit">
                    <%- await readFile("./img/default/tool-full.svg"); %>
                </div>
                <div class="menu-grid-item js-zoomRatio" title="" i18n="menu.infoZoomRatio">
                    <div class="menu-grid-txt js-zoomRatioTxt">
                        100%
                    </div>
                </div>
            </div>

            <div class="menu-hor-hr" show-only="img,imgs,video,"></div>

            <div class="menu-hor-item js-revealInFileExplorer">
                <div class="menu-hor-icon">
                    <%- await readFile("./img/default/tool-open.svg"); %>
                </div>
                <div class="menu-hor-txt" i18n="menu.revealInFileExplorer">在檔案總管中顯示</div>
            </div>
            <div class="menu-hor-item js-systemContextMenu">
                <div class="menu-hor-icon">
                    <%- await readFile("./img/default/tool-rightMenu.svg"); %>
                </div>
                <div class="menu-hor-txt" i18n="menu.systemContextMenu">系統選單</div>
            </div>
            <div class="menu-hor-item js-renameFile">
                <div class="menu-hor-icon">
                    <%- await readFile("./img/default/tool-rename.svg"); %>
                </div>
                <div class="menu-hor-txt" i18n="menu.renameFile">重新命名</div>
            </div>
            <div class="menu-hor-item js-showDeleteFileMsg">
                <div class="menu-hor-icon">
                    <%- await readFile("./img/default/tool-delete.svg"); %>
                </div>
                <div class="menu-hor-txt" i18n="menu.deleteFile">刪除檔案</div>
            </div>

            <div class="menu-hor-hr"></div>

            <div class="menu-hor-item js-setting">
                <div class="menu-hor-icon">
                    <%- await readFile("./img/default/tool-setting.svg"); %>
                </div>
                <div class="menu-hor-txt" i18n="menu.setting">設定</div>
            </div>

            <div class="menu-hor-hr"></div>

            <div class="menu-hor-item js-copyFile">
                <div class="menu-hor-icon">
                </div>
                <div class="menu-hor-txt" i18n="menu.copyFile">複製檔案</div>
            </div>
            <div class="menu-hor-item js-copyFileName">
                <div class="menu-hor-icon">
                </div>
                <div class="menu-hor-txt" i18n="menu.copyFileName">複製檔名</div>
            </div>
            <div class="menu-hor-item js-copyFilePath">
                <div class="menu-hor-icon">
                </div>
                <div class="menu-hor-txt" i18n="menu.copyFilePath">複製檔案路徑</div>
            </div>
            <div class="menu-hor-item js-copyImage" show-only="img,imgs,video,">
                <div class="menu-hor-icon">
                </div>
                <div class="menu-hor-txt" i18n="menu.copyImage">複製影像</div>
            </div>

        </div>

    </div>
</div>


<!-- 右鍵選單 起始畫面 -->
<div class="menu" data-menu="none" active="">
    <div class="menu-content" id="menu-rightMenuWelcome">

        <div class="menu-box">
            <div class="menu-hor-item js-open">
                <div class="menu-hor-icon">
                    <%- await readFile("./img/default/tool-open.svg"); %>
                </div>
                <div class="menu-hor-txt" i18n="menu.openFile">載入檔案</div>
            </div>
            <div class="menu-hor-item js-setting">
                <div class="menu-hor-icon">
                    <%- await readFile("./img/default/tool-setting.svg"); %>
                </div>
                <div class="menu-hor-txt" i18n="menu.setting">設定</div>
            </div>
            <div class="menu-hor-item js-help">
                <div class="menu-hor-icon">
                    <%- await readFile("./img/default/tool-help.svg"); %>
                </div>
                <div class="menu-hor-txt" i18n="menu.help">說明</div>
            </div>

            <div class="menu-hor-hr"></div>

            <div class="menu-hor-item js-close">
                <div class="menu-hor-icon">
                    <%- await readFile("./img/default/no.svg"); %>
                </div>
                <div class="menu-hor-txt" i18n="menu.exit">關閉程式</div>
            </div>
        </div>

    </div>
</div>


<!-- 右鍵選單 預設 -->
<div class="menu" data-menu="none" active="">
    <div class="menu-content" id="menu-rightMenuDefault">

        <div class="menu-box" style="width:200px">
            <div class="menu-grid">
                <div class="menu-grid-item js-prev" title="" i18n="menu.prevFile">
                    <%- await readFile("./img/default/tool-prev.svg"); %>
                </div>
                <div class="menu-grid-item js-next" title="" i18n="menu.nextFile">
                    <%- await readFile("./img/default/tool-next.svg"); %>
                </div>
                <div class="menu-grid-item js-prevDir" title="" i18n="menu.prevDir">
                    <%- await readFile("./img/default/tool-prevDir.svg"); %>
                </div>
                <div class="menu-grid-item js-nextDir" title="" i18n="menu.nextDir">
                    <%- await readFile("./img/default/tool-nextDir.svg"); %>
                </div>
                <div class="menu-grid-item js-sort" title="" i18n="menu.showMenuSort">
                    <%- await readFile("./img/default/tool-sort.svg"); %>
                </div>
            </div>
        </div>

        <div class="menu-box">
            <div class="menu-hor-item js-revealInFileExplorer">
                <div class="menu-hor-icon">
                    <%- await readFile("./img/default/tool-open.svg"); %>
                </div>
                <div class="menu-hor-txt" i18n="menu.revealInFileExplorer">在檔案總管中顯示</div>
            </div>
            <div class="menu-hor-item js-systemContextMenu">
                <div class="menu-hor-icon">
                    <%- await readFile("./img/default/tool-rightMenu.svg"); %>
                </div>
                <div class="menu-hor-txt" i18n="menu.systemContextMenu">系統選單</div>
            </div>
            <div class="menu-hor-item js-copyFilePath">
                <div class="menu-hor-icon">
                    <%- await readFile("./img/default/tool-copy.svg"); %>
                </div>
                <div class="menu-hor-txt" i18n="menu.copyFilePath">複製檔案路徑</div>
            </div>
            <div class="menu-hor-item js-deleteFile">
                <div class="menu-hor-icon">
                    <%- await readFile("./img/default/tool-delete.svg"); %>
                </div>
                <div class="menu-hor-txt" i18n="menu.deleteFile">刪除檔案</div>
            </div>

            <div class="menu-hor-hr"></div>

            <div class="menu-hor-item js-setting">
                <div class="menu-hor-icon">
                    <%- await readFile("./img/default/tool-setting.svg"); %>
                </div>
                <div class="menu-hor-txt" i18n="menu.setting">設定</div>
            </div>

            <div class="menu-hor-hr"></div>

            <div class="menu-hor-item js-close">
                <div class="menu-hor-icon">
                    <%- await readFile("./img/default/no.svg"); %>
                </div>
                <div class="menu-hor-txt" i18n="menu.exit">關閉程式</div>
            </div>
        </div>

    </div>
</div>


<!-- 右鍵選單 輸入框 -->
<div class="menu" data-menu="none" active="">
    <div class="menu-content" id="menu-text">
        <div class="menu-box">
            <div class="menu-hor-item" id="menuitem-text-cut">
                <div class="menu-hor-icon"></div>
                <div class="menu-hor-txt" i18n="menu.cut">剪下</div>
            </div>
            <div class="menu-hor-item" id="menuitem-text-copy">
                <div class="menu-hor-icon"></div>
                <div class="menu-hor-txt" i18n="menu.copy">複製</div>
            </div>
            <div class="menu-hor-item" id="menuitem-text-paste">
                <div class="menu-hor-icon"></div>
                <div class="menu-hor-txt" i18n="menu.paste">貼上</div>
            </div>
            <div class="menu-hor-item" id="menuitem-text-selectAll">
                <div class="menu-hor-icon"></div>
                <div class="menu-hor-txt" i18n="menu.selectAll">全選</div>
            </div>
        </div>

    </div>
</div>


<!-- 右鍵選單 一般文字 -->
<div class="menu" data-menu="none" active="">
    <div class="menu-content" id="menu-txt">
        <div class="menu-box">

            <div class="menu-hor-item" id="menuitem-txt-copy">
                <div class="menu-hor-icon"></div>
                <div class="menu-hor-txt" i18n="menu.copy">複製</div>
            </div>

        </div>
    </div>
</div>


<!-- 右鍵選單 大量瀏覽模式 -->
<div class="menu" data-menu="none" active="">
    <div class="menu-content" id="menu-rightMenuBulkView">

        <!-- <div class="menu-box">
            <div class="menu-hor-item js-back">
                <div class="menu-hor-icon">
                    <%- await readFile("./img/default/tool-back.svg"); %>
                </div>
                <div class="menu-hor-txt" i18n="menu.back">返回</div>
            </div>
        </div> -->

        <div class="menu-box">

            <div class="menu-grid">
                <div class="menu-grid-item js-back" title="" i18n="menu.back">
                    <%- await readFile("./img/default/tool-back.svg"); %>
                </div>
                <div class="menu-grid-hr"></div>
                <div class="menu-grid-item js-dragDropFile" title="" i18n="menu.dragDropFile">
                    <%- await readFile("./img/default/tool-dragDropFile.svg"); %>
                </div>
                <div class="menu-grid-item js-showMenuFile" title="" i18n="menu.showMenuFile">
                    <%- await readFile("./img/default/tool-open.svg"); %>
                </div>
                <div class="menu-grid-item js-showMenuCopy" title="" i18n="menu.showMenuCopy">
                    <%- await readFile("./img/default/tool-copy.svg"); %>
                </div>
                <div class="menu-grid-item js-showMenuSort" title="" i18n="menu.showMenuSort">
                    <%- await readFile("./img/default/tool-sort.svg"); %>
                </div>
                <div class="menu-grid-item js-prevDir" title="" i18n="menu.prevDir">
                    <%- await readFile("./img/default/tool-prevDir.svg"); %>
                </div>
                <div class="menu-grid-item js-nextDir" title="" i18n="menu.nextDir">
                    <%- await readFile("./img/default/tool-nextDir.svg"); %>
                </div>
            </div>

            <div class="menu-hor-hr"></div>

            <div class="menu-hor-item js-showBulkViewSetting">
                <div class="menu-hor-icon">
                    <%- await readFile("./img/default/tool-setting2.svg"); %>
                </div>
                <div class="menu-hor-txt" i18n="menu.showBulkViewSetting"> 大量瀏覽模式設定 </div>
            </div>

            <div class="menu-hor-hr"></div>

            <div class="menu-hor-item js-revealInFileExplorer">
                <div class="menu-hor-icon">
                    <%- await readFile("./img/default/tool-open.svg"); %>
                </div>
                <div class="menu-hor-txt" i18n="menu.revealInFileExplorerDir">在檔案總管中顯示資料夾</div>
            </div>
            <div class="menu-hor-item js-rightMenu">
                <div class="menu-hor-icon">
                    <%- await readFile("./img/default/tool-rightMenu.svg"); %>
                </div>
                <div class="menu-hor-txt" i18n="menu.systemContextMenuDir">資料夾系統選單</div>
            </div>
            <div class="menu-hor-item js-showRenameDirMsg">
                <div class="menu-hor-icon">
                    <%- await readFile("./img/default/tool-rename.svg"); %>
                </div>
                <div class="menu-hor-txt" i18n="menu.renameDir">重新命名資料夾</div>
            </div>
            <div class="menu-hor-item js-showDeleteDirMsg">
                <div class="menu-hor-icon">
                    <%- await readFile("./img/default/tool-delete.svg"); %>
                </div>
                <div class="menu-hor-txt" i18n="menu.deleteDir">刪除資料夾</div>
            </div>

            <div class="menu-hor-hr"></div>

            <div class="menu-hor-item js-setting">
                <div class="menu-hor-icon">
                    <%- await readFile("./img/default/tool-setting.svg"); %>
                </div>
                <div class="menu-hor-txt" i18n="menu.setting">設定</div>
            </div>

            <div class="menu-hor-hr"></div>

            <div class="menu-hor-item js-copyDirName">
                <div class="menu-hor-icon">
                </div>
                <div class="menu-hor-txt" i18n="menu.copyDirName">複製資料夾名</div>
            </div>
            <div class="menu-hor-item js-copyDirPath">
                <div class="menu-hor-icon">
                </div>
                <div class="menu-hor-txt" i18n="menu.copyDirPath">複製資料夾路徑</div>
            </div>

            <!-- <div class="menu-hor-hr"></div>

            <div class="menu-hor-item js-close">
                <div class="menu-hor-icon">
                    <%- await readFile("./img/default/no.svg"); %>
                </div>
                <div class="menu-hor-txt" i18n="menu.exit">關閉程式</div>
            </div> -->
        </div>


        <div class="menu-box js-fileBox">
            <!-- <div class="menu-hor-title" i18n="menu.showMenuFile"> 檔案 </div> -->
            <input class="menu-text js-fileName" type="text" readonly="true" value="">
            <div class="menu-hor-hr"></div>

            <div class="menu-grid">
                <div class="menu-grid-item js-dragDropFile" title="" i18n="menu.dragDropFile">
                    <%- await readFile("./img/default/tool-dragDropFile.svg"); %>
                </div>
                <div class="menu-grid-item js-showMenuFile" title="" i18n="menu.showMenuFile">
                    <%- await readFile("./img/default/tool-open.svg"); %>
                </div>

                <div class="menu-grid-item js-showMenuCopy" title="" i18n="menu.showMenuCopy">
                    <%- await readFile("./img/default/tool-copy.svg"); %>
                </div>
                <div class="menu-grid-item js-showMenuImageSearch" title="" i18n="menu.showMenuImageSearch">
                    <%- await readFile("./img/default/tool-search.svg"); %>
                </div>
            </div>
            <div class="menu-hor-hr"></div>

            <div class="menu-hor-item js-revealInFileExplorer">
                <div class="menu-hor-icon">
                    <%- await readFile("./img/default/tool-open.svg"); %>
                </div>
                <div class="menu-hor-txt" i18n="menu.revealInFileExplorerFile">在檔案總管中顯示檔案</div>
            </div>
            <div class="menu-hor-item js-systemContextMenu">
                <div class="menu-hor-icon">
                    <%- await readFile("./img/default/tool-rightMenu.svg"); %>
                </div>
                <div class="menu-hor-txt" i18n="menu.systemContextMenuFile">檔案系統選單</div>
            </div>
            <div class="menu-hor-item js-renameFile">
                <div class="menu-hor-icon">
                    <%- await readFile("./img/default/tool-rename.svg"); %>
                </div>
                <div class="menu-hor-txt" i18n="menu.renameFile">重新命名檔案</div>
            </div>
            <div class="menu-hor-item js-showDeleteFileMsg">
                <div class="menu-hor-icon">
                    <%- await readFile("./img/default/tool-delete.svg"); %>
                </div>
                <div class="menu-hor-txt" i18n="menu.deleteFile">刪除檔案</div>
            </div>

            <!-- <div class="menu-hor-hr"></div>

            <div class="menu-hor-item js-showMenuImageSearch">
                <div class="menu-hor-icon">
                    <%- await readFile("./img/default/tool-search.svg"); %>
                </div>
                <div class="menu-hor-txt" i18n="menu.showMenuImageSearch">搜圖</div>
            </div> -->

            <div class="menu-hor-hr"></div>

            <div class="menu-hor-item js-copyFile">
                <div class="menu-hor-icon">
                </div>
                <div class="menu-hor-txt" i18n="menu.copyFile">複製檔案</div>
            </div>
            <div class="menu-hor-item js-copyFileName">
                <div class="menu-hor-icon">
                </div>
                <div class="menu-hor-txt" i18n="menu.copyFileName">複製檔名</div>
            </div>
            <div class="menu-hor-item js-copyFilePath">
                <div class="menu-hor-icon">
                </div>
                <div class="menu-hor-txt" i18n="menu.copyFilePath">複製檔案路徑</div>
            </div>
            <div class="menu-hor-item js-copyImage">
                <div class="menu-hor-icon">
                </div>
                <div class="menu-hor-txt" i18n="menu.copyImage">複製影像</div>
            </div>

        </div>

    </div>
</div>