<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>Tiefsee 4</title>

    <!-- 空白 icon -->
    <link rel="icon" href="data:image/x-icon;,">

    <!--google字體-->
    <!-- <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+TC:wght@100&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+SC:wght@100&display=swap" rel="stylesheet"> -->

    <script src="./vender/hammer.min.js"></script>
    <script src="./vender/jquery-3.6.0.min.js"></script>
    <script src="./vender/jquery.easing.js"></script>

    <script src="./js/SvgList.js"></script>
    <script src="./lang/langData.js"></script>

    <script src="./js/MainWindow.js"></script>
    <link rel="stylesheet" href="./css/MainWindow.css">
</head>

<body showType="bulkView">

    <div class="window">

        <div class="dragbar-v" id="dragbar-mainFileList"> </div>
        <div class="dragbar-v" id="dragbar-mainDirList"> </div>
        <div class="dragbar-v" id="dragbar-mainExif"> </div>

        <!-- 標題列 -->
        <div id="window-titlebar" class="window-titlebar">

            <div class="titlebar-text">
                <span>tiefsee 4</span>
            </div>

            <div class="titlebar-toolbar">

                <div class="titlebar-toolbar-btn titlebar-toolbar-layout" title="佈局" i18n="menu.layout">
                    <%- await readFile("./img/default/window-layout.svg"); %>
                </div>
                <div class="titlebar-toolbar-btn titlebar-toolbar-exitFullScreen" title="結束全螢幕" i18n="menu.exitFullScreen" style="display:none;">
                    <%- await readFile("./img/default/window-exitFullScreen.svg"); %>
                </div>
                <div class="titlebar-toolbar-btn titlebar-toolbar-minimized">
                    <%- await readFile("./img/default/window-minimized.svg"); %>
                </div>
                <div class="titlebar-toolbar-btn titlebar-toolbar-normal" style="display:none;">
                    <%- await readFile("./img/default/window-normal.svg"); %>
                </div>
                <div class="titlebar-toolbar-btn titlebar-toolbar-maximized">
                    <%- await readFile("./img/default/window-maximized.svg"); %>
                </div>
                <div class="titlebar-toolbar-btn titlebar-toolbar-close">
                    <%- await readFile("./img/default/window-close.svg"); %>
                </div>
            </div>

        </div>

        <div class="window-body" id="window-body">

            <div class="main-content">

                <!-- loading -->
                <div id="loadingWindow">
                    <img src="./img/loading.svg">
                </div>

                <div id="main-T" class="main-T">
                    <!-- 工具列 -->
                    <div id="main-toolbar" class="main-toolbar main-toolbar__scrollbar " toolbarAlign="center">

                        <div id="toolbar-content" class="toolbar-content">
                            <!-- 共通的 返回按鈕 -->
                            <div id="toolbar-back" class="main-toolbar-btn main-toolbar-back js-noDrag" data-name="back" title="" i18n="menu.back">
                                <%- await readFile("./img/default/tool-back.svg"); %>
                            </div>
                        </div>

                    </div>
                </div>

                <div class="main-C">

                    <div id="main-L" class="main-L">

                        <!-- 資料夾預覽面板 -->
                        <div class="main-item main-dirList base-scrollbar-mini" id="main-dirList" data-menu="dirPanel">
                            <div class="main-dirListBody" id="main-dirListBody">
                                <div id="main-dirListData"> </div>
                            </div>
                        </div>
                    </div>

                    <div class="main-L2">
                        <!-- 檔案預覽面板 -->
                        <div class="main-item main-fileList base-scrollbar-mini" id="main-fileList" data-menu="filePanel">
                            <div class="main-fileListBody" id="main-fileListBody">
                                <div id="main-fileListData"></div>
                            </div>
                        </div>
                    </div>

                    <div class="main-V">

                        <div id="mView-welcome" class="mView-welcome">
                            <div>
                                <img class="mView-welcome-logo" src="./img/logo.svg">
                                <div class="mView-welcome-text">Tiefsee 4.2.9</div>
                            </div>
                        </div>
                        <textarea id="mView-text" class="mView-text base-scrollbar" readonly2=""></textarea>
                        <div id="mView-tiefseeview" class="mView-tiefseeview"></div>
                        <iframe id="mView-pdf" class="mView-iframe"></iframe>
                        <iframe id="mView-pdftronWebviewer" class="mView-iframe"></iframe>
                        <iframe id="mView-monacoEditor" class="mView-iframe"></iframe>
                        <iframe id="mView-cherryMarkdown" class="mView-iframe"></iframe>

                        <!-- 大量瀏覽模式 -->
                        <div id="mView-bulkView" class="bulkView">
                            <div class="bulkView-scroll-content">
                                <div class="bulkView-pagination">
                                    <div class="bulkView-pagination-box">
                                        <div class="bulkView-pagination-prev svg-box" freeze="true">
                                            <%- await readFile("./img/default/tool-prev.svg"); %>
                                        </div>
                                        <select class="bulkView-pagination-select">
                                        </select>
                                        <div class="bulkView-pagination-next svg-box">
                                            <%- await readFile("./img/default/tool-next.svg"); %>
                                        </div>
                                    </div>
                                </div>
                                <div class="bulkView-content" show=""></div>
                                <div class="bulkView-pagination">
                                    <div class="bulkView-pagination-box">
                                        <div class="bulkView-pagination-prev svg-box">
                                            <%- await readFile("./img/default/tool-prev.svg"); %>
                                        </div>
                                        <select class="bulkView-pagination-select">
                                        </select>
                                        <div class="bulkView-pagination-next svg-box">
                                            <%- await readFile("./img/default/tool-next.svg"); %>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <!-- 大型切換按鈕 -->
                        <div id="largeBtnLeft" class="largeBtn" data-style="leftRight-L">
                            <div class="box svg-box">
                                <%- await readFile("./img/default/tool-prev.svg"); %>
                            </div>
                        </div>
                        <div id="largeBtnRight" class="largeBtn" data-style="leftRight-R">
                            <div class="box svg-box">
                                <%- await readFile("./img/default/tool-next.svg"); %>
                            </div>
                        </div>

                        <!-- <embed  id="main-pdfview" class="main-pdfview" src="" type="application/pdf"> -->
                    </div>

                    <div class="main-R" id="main-R">

                        <!-- exif 視窗 -->
                        <div class="mainExif" id="mainExif">

                            <div class="mainExifTop">
                                <div class="mainExifTabs js-tabBtns main-toolbar__scrollbar ">
                                    <div class="mainExifTabsContent">
                                        <!-- 資訊 -->
                                        <div class="mainExifTabsItem js-tabBtn-info svg-box" mark="true" i18n="menu.information" title="">
                                            <svg width="23px" height="23px" viewBox="0 0 23 23">
                                                <g style="fill:var(--color-white)">
                                                    <rect x="15" y="7" width="1" height="8" />
                                                    <rect x="11" y="10" width="1" height="5" />
                                                    <rect x="7" y="12" width="1" height="3" />
                                                    <path d="M19.4,3H3.6C3.3,3,3,3.3,3,3.6v15.8C3,19.7,3.3,20,3.6,20h15.8c0.3,0,0.6-0.3,0.6-0.6V3.6C20,3.3,19.7,3,19.4,3z M19,19H4V4,h15V19z" />
                                                </g>
                                            </svg>
                                        </div>
                                        <!-- 相關檔案 -->
                                        <div class="mainExifTabsItem js-tabBtn-related svg-box" mark="true" i18n="menu.relatedFiles" title="">
                                            <svg width="23px" height="23px" viewBox="0 0 23 23">
                                                <g style="fill:var(--color-white)">
                                                    <path d="M16.1,10h3.8c0.6,0,1.1-0.5,1.1-1.1V3.1C21,2.5,20.5,2,19.9,2h-3.8C15.5,2,15,2.5,15,3.1V5h-2.5C11.1,5,10,6.1,10,7.5V11H7
                                                        V8.1C7,7.5,6.5,7,5.9,7H2.1C1.5,7,1,7.5,1,8.1v6.8C1,15.5,1.5,16,2.1,16h3.8C6.5,16,7,15.5,7,14.9V12h3v3.5c0,1.4,1.1,2.5,2.5,2.5
                                                        H15v1.9c0,0.6,0.5,1.1,1.1,1.1h3.8c0.6,0,1.1-0.5,1.1-1.1v-5.8c0-0.6-0.5-1.1-1.1-1.1h-3.8c-0.6,0-1.1,0.5-1.1,1.1V17h-2.5
                                                        c-0.8,0-1.5-0.7-1.5-1.5V12v-1V7.5C11,6.7,11.7,6,12.5,6H15v2.9C15,9.5,15.5,10,16.1,10z M16,3.1C16,3,16,3,16.1,3h3.8
                                                        C20,3,20,3,20,3.1v5.8C20,9,20,9,19.9,9h-3.8C16,9,16,9,16,8.9V3.1z M6,11v1v2.9C6,15,6,15,5.9,15H2.1C2,15,2,15,2,14.9V8.1
                                                        C2,8,2,8,2.1,8h3.8C6,8,6,8,6,8.1V11z M16,14.1C16,14,16,14,16,14.1l3.9-0.1c0.1,0,0.1,0,0.1,0.1v5.8c0,0.1,0,0.1-0.1,0.1h-3.8
                                                        C16,20,16,20,16,19.9V14.1z"/>
                                                </g>
                                            </svg>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="mainExifList base-scrollbar js-tabContent-info"> </div>
                            <div class="mainExifRelated base-scrollbar js-tabContent-related"> </div>
                        </div>
                    </div>

                </div>

                <div class="main-B"></div>

            </div>

        </div>

        <div class="window-LC window-border"></div>
        <div class="window-RC window-border"></div>
        <div class="window-CT window-border"></div>
        <div class="window-LT window-border"></div>
        <div class="window-RT window-border"></div>
        <div class="window-CB window-border"></div>
        <div class="window-LB window-border"></div>
        <div class="window-RB window-border"></div>

    </div>

    <!-- 文字編輯器 -->
    <div class="textEditor" id="textEditor" style="display:none;">
        <div class="textEditor-box">
            <div class="textEditor-toolbar">
                <div class="textEditor-toolbarItem svg-box js-save" title="" i18n="menu.showSave">
                    <%- await readFile("./img/default/tool-save.svg"); %>
                </div>
                <div class="textEditor-toolbarItem svg-box js-pretty" title="" i18n="menu.formatJson">
                    <%- await readFile("./img/default/tool-code.svg"); %>
                </div>
                <div class="textEditor-toolbarItem textEditor-toolbarItem__close js-close">
                </div>
            </div>
            <div class="textEditor-content">
                <textarea class="textEditor-textarea base-scrollbar"></textarea>
            </div>
        </div>
    </div>

    <!-- 開啟setting視窗時的loading -->
    <div id="loadingSetting">
        <div class="loadingSetting-box">
            <%- await readFile("./img/default/tool-setting.svg"); %>
        </div>
    </div>

    <!-- 下拉選單 & 右鍵選單 -->
    <%- await include("./Menu.ejs"); %>



</body>

</html>