<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>Tiefsee 4</title>

    <!-- <base href="/"> -->

    <!--google字體-->
    <!-- <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+TC:wght@100&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+SC:wght@100&display=swap" rel="stylesheet"> -->

    <link rel="stylesheet" href="./css/MainWindow/MainWindow.css">
    <link rel="stylesheet" href="./css/Menu.css">
    <link rel="stylesheet" href="./css/Msgbox.css">
    <link rel="stylesheet" href="./css/Toast.css">

    <link rel="stylesheet" href="./css/BaseWindow.css">
    <script src="./js/BaseWindow.js"></script>
    <script src="./js/Lib.js"></script>
    <script src="./js/SvgList.js"></script>

    <script src="./vender/hammer.min.js"></script>
    <script src="./vender/jquery-3.6.0.min.js"></script>
    <script src="./vender/jquery.easing.js"></script>

    <script src="./js/Tiefseeview.js"></script>
    <script src="./js/TiefseeScroll.js"></script>
    <link rel="stylesheet" href="./css/Tiefseeview.css">

    <!-- 多國語言 -->
    <script src="./lang/langData.js"></script>
    <script src="./js/I18n.js"></script>

    <script src="./js/WebAPI.js"></script>
    <script src="./js/Config.js"></script>
    <script src="./js/MainWindow/MainToolbar.js"></script>
    <script src="./js/MainWindow/FileLoad.js"></script>
    <script src="./js/MainWindow/MainFileList.js"></script>
    <script src="./js/MainWindow/MainDirList.js"></script>
    <script src="./js/MainWindow/MainExif.js"></script>
    <script src="./js/MainWindow/AiDrawingPrompt.js"></script>
    <script src="./js/MainWindow/FileShow.js"></script>
    <script src="./js/MainWindow/Iframes.js"></script>
    <script src="./js/MainWindow/FileSort.js"></script>
    <script src="./js/MainWindow/DirSort.js"></script>
    <script src="./js/MainWindow/ImgSearch.js"></script>
    <script src="./js/MainWindow/MainMenu.js"></script>
    <script src="./js/MainWindow/Menu.js"></script>
    <script src="./js/MainWindow/LargeBtn.js"></script>
    <script src="./js/MainWindow/BulkView.js"></script>
    <script src="./js/Msgbox.js"></script>
    <script src="./js/Toast.js"></script>
    <script src="./js/MainWindow/Script.js"></script>
    <script src="./js/MainWindow/Hotkey.js"></script>
    <script src="./js/MainWindow/Dragbar.js"></script>
    <script src="./js/MainWindow/MainWindow.js"></script>
</head>

<body showType="bulkView">

    <div class="window">

        <div class="dragbar-v" id="dragbar-mainFileList"> </div>
        <div class="dragbar-v" id="dragbar-mainDirList"> </div>
        <div class="dragbar-v" id="dragbar-mainExif"> </div>

        <!-- 標題列 -->
        <div id="window-titlebar" class="window-titlebar">

            <div class="titlebar-txt">
                <span>tiefsee 4</span>
            </div>

            <div class="titlebar-toolbar">

                <div class="titlebar-toolbar-btn titlebar-toolbar-layout" title="佈局" i18n="menu.layout">
                    <%- await readFile("./img/default/window-layout.svg"); %>
                </div>
                <div class="titlebar-toolbar-btn titlebar-toolbar-exitFullScreen" title="結束全螢幕" i18n="menu.exitFullScreen" style="display:none;">
                    <%- await readFile("./img/default/window-exitFullScreen.svg"); %>
                </div>
                <div class="titlebar-toolbar-btn titlebar-toolbar-minimized">
                    <%- await readFile("./img/default/window-minimized.svg"); %>
                </div>
                <div class="titlebar-toolbar-btn titlebar-toolbar-normal" style="display:none;">
                    <%- await readFile("./img/default/window-normal.svg"); %>
                </div>
                <div class="titlebar-toolbar-btn titlebar-toolbar-maximized">
                    <%- await readFile("./img/default/window-maximized.svg"); %>
                </div>
                <div class="titlebar-toolbar-btn titlebar-toolbar-close">
                    <%- await readFile("./img/default/window-close.svg"); %>
                </div>
            </div>

        </div>

        <div class="window-body" id="window-body">

            <div class="main-content">

                <!-- loading -->
                <div id="loadingWindow">
                    <img src="./img/loading.svg">
                </div>

                <div id="main-T" class="main-T">
                    <!-- 工具列 -->
                    <div id="main-toolbar" class="main-toolbar main-toolbar__scrollbar " toolbarAlign="center">

                        <div id="toolbar-content" class="toolbar-content">
                            <!-- 共通的 返回按鈕 -->
                            <div id="toolbar-back" class="main-toolbar-btn main-toolbar-back js-noDrag" data-name="back" title="" i18n="menu.back">
                                <%- await readFile("./img/default/tool-back.svg"); %>
                            </div>
                        </div>

                    </div>
                </div>

                <div class="main-C">

                    <div id="main-L" class="main-L">

                        <!-- 資料夾預覽面板 -->
                        <div class="main-item main-dirList base-scrollbar-mini" id="main-dirList" data-menu="dirPanel">
                            <div class="main-dirListBody" id="main-dirListBody">
                                <div id="main-dirListData"> </div>
                            </div>
                        </div>

                        <!-- 檔案預覽面板 -->
                        <div class="main-item main-fileList base-scrollbar-mini" id="main-fileList" data-menu="filePanel">
                            <div class="main-fileListBody" id="main-fileListBody">
                                <div id="main-fileListData"></div>
                            </div>
                        </div>

                    </div>

                    <div class="main-V">

                        <div id="mView-welcome" class="mView-welcome">
                            <div>
                                <img class="mView-welcome-logo" src="./img/logo.svg">
                                <div class="mView-welcome-txt">Tiefsee 4.1.5.1</div>
                            </div>
                        </div>
                        <textarea id="mView-txt" class="mView-text base-scrollbar" readonly2=""></textarea>
                        <div id="mView-tiefseeview" class="mView-tiefseeview"></div>
                        <iframe id="mView-pdf" class="mView-iframe"></iframe>
                        <iframe id="mView-pdftronWebviewer" class="mView-iframe"></iframe>
                        <iframe id="mView-monacoEditor" class="mView-iframe"></iframe>
                        <iframe id="mView-cherryMarkdown" class="mView-iframe"></iframe>

                        <!-- 大量瀏覽模式 -->
                        <div id="mView-bulkView" class="bulkView">
                            <div class="bulkView-scroll-content">
                                <div class="bulkView-pagination">
                                    <div class="bulkView-pagination-box">
                                        <div class="bulkView-pagination-prev" freeze="true">
                                            <%- await readFile("./img/default/tool-prev.svg"); %>
                                        </div>
                                        <select class="bulkView-pagination-select">
                                        </select>
                                        <div class="bulkView-pagination-next">
                                            <%- await readFile("./img/default/tool-next.svg"); %>
                                        </div>
                                    </div>
                                </div>
                                <div class="bulkView-content" show=""></div>
                                <div class="bulkView-pagination">
                                    <div class="bulkView-pagination-box">
                                        <div class="bulkView-pagination-prev">
                                            <%- await readFile("./img/default/tool-prev.svg"); %>
                                        </div>
                                        <select class="bulkView-pagination-select">
                                        </select>
                                        <div class="bulkView-pagination-next">
                                            <%- await readFile("./img/default/tool-next.svg"); %>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <!-- 大型切換按鈕 -->
                        <div id="largeBtnLeft" class="largeBtn" data-style="leftRight-L">
                            <div class="box">
                                <%- await readFile("./img/default/tool-prev.svg"); %>
                            </div>
                        </div>
                        <div id="largeBtnRight" class="largeBtn" data-style="leftRight-R">
                            <div class="box">
                                <%- await readFile("./img/default/tool-next.svg"); %>
                            </div>
                        </div>

                        <!-- <embed  id="main-pdfview" class="main-pdfview" src="" type="application/pdf"> -->
                    </div>

                    <div class="main-R" id="main-R">

                        <!-- exif 視窗 -->
                        <div class="mainExif" id="mainExif">

                            <div class="mainExifTop">
                                <div class="mainExifTabs js-tabBtns main-toolbar__scrollbar ">
                                    <div class="mainExifTabsContent">
                                        <div class="mainExifTabsItem js-tabBtn-info" mark="true" i18n="menu.information">資訊</div>
                                        <div class="mainExifTabsItem js-tabBtn-related" mark="true" i18n="menu.relatedFiles">相關檔案</div>
                                    </div>
                                </div>
                            </div>

                            <div class="mainExifList base-scrollbar js-tabContent-info">
                            </div>
                            <div class="mainExifRelated base-scrollbar js-tabContent-related">
                            </div>
                        </div>
                    </div>

                </div>

                <div class="main-B"></div>

            </div>

        </div>

        <div class="window-LC window-border"></div>
        <div class="window-RC window-border"></div>
        <div class="window-CT window-border"></div>
        <div class="window-LT window-border"></div>
        <div class="window-RT window-border"></div>
        <div class="window-CB window-border"></div>
        <div class="window-LB window-border"></div>
        <div class="window-RB window-border"></div>

    </div>

    <!-- 文字編輯器 -->
    <div class="textEditor" id="textEditor" style="display:none;">
        <div class="textEditor-box">
            <div class="textEditor-toolbar">
                <div class="textEditor-toolbarItem js-save" title="" i18n="menu.showSave">
                    <%- await readFile("./img/default/tool-save.svg"); %>
                </div>
                <div class="textEditor-toolbarItem js-pretty" title="" i18n="menu.formatJson">
                    <%- await readFile("./img/default/tool-code.svg"); %>
                </div>
                <div class="textEditor-toolbarItem textEditor-toolbarItem__close js-close">
                </div>
            </div>
            <div class="textEditor-content">
                <textarea class="textEditor-textarea base-scrollbar"></textarea>
            </div>
        </div>
    </div>

    <!-- 開啟setting視窗時的loading -->
    <div id="loadingSetting">
        <div class="loadingSetting-box">
            <%- await readFile("./img/default/tool-setting.svg"); %>
        </div>
    </div>

    <!-- 下拉選單 & 右鍵選單 -->
    <%- await include("./Menu.ejs"); %>



</body>

</html>